<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores repudiandae, assumenda delectus harum sed sapiente aperiam dolor veniam eligendi quis iste numquam doloribus, tenetur amet officia iure quasi libero illo.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores repudiandae, assumenda delectus harum sed sapiente aperiam dolor veniam eligendi quis iste numquam doloribus, tenetur amet officia iure quasi libero illo.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores repudiandae, assumenda delectus harum sed sapiente aperiam dolor veniam eligendi quis iste numquam doloribus, tenetur amet officia iure quasi libero illo.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>